.logo-text {
  color: #009450;
}

#showcase {
  background-image: url(./Images/bg_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20vh;
  padding-bottom: 20vh;
  font-family: 'Courier New', Courier, monospace;
}

#showcase h2 {
  font-size: 70px;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
}

#showcase h3 {
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

#introduction h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333;
}

#introduction img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#about h2 {
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#about-title {
  background-image: url(./Images/about_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.carousel-inner img{
  height: 500px;
  object-fit: cover;
}

.carousel-inner h2 {
  font-size: 35px;
  text-shadow: 2px 2px 2px black;
  font-family: 'Courier New', Courier, monospace;
}

.carousel-inner p {
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

#post {
  background-image: url(./Images/bg_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

#post h5 {
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#vlogs h2 {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}